<style>
  #user-name-form{
    margin-top: 10px;
  }
</style>

<script>
  $(function(){
    $(document).on('click', '#edit-name', function(){
      $('#user-name').addClass('hide');
      $('#user-name-form').removeClass('hide');
    });
  });
</script>

<div id="user-name">
  <h2><%= current_user.name %></h2>
  <%= link_to 'Edit Name', '#', id: 'edit-name' %>
</div>
<%= form_for current_user, url: profiles_path(:format => :js), method: :put, remote: true, html: {class: 'hide', id: 'user-name-form'} do |f| %>
  <%= f.label :name, 'Enter new name' %>
  <%= f.text_field :name %><br/>
  <%= f.submit 'Done' %>
<% end %>

<%= link_to 'Change email/password', edit_user_registration_path %><br/>
<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>

<div class="row-fluid">
  <div class="span6">
    <h4>Leave Requests</h4>
    <b>Leave</b>: <%= current_user.vacation_hours %> hours / <b>Sick</b>: <%= current_user.sick_hours %> hours
    <ul>
      <% @leaves.each do |leave| %>
        <li><%= link_to l(leave.start_date) + (leave.end_date? ? " - " + l(leave.end_date) : ''), leave_path(leave) %> - <%= leave.hours %> hours - <%= leave.approved? ? 'Approved' : 'Unapproved' %></li>
      <% end %>
    </ul>
  </div>
  <div class="span6">
    <% unless @current_schedule.blank? %>
      <h4>Current Schedule</h4>
      <%= render :partial => 'schedules/detail', locals: {schedule: @current_schedule} %>
    <% end %>
    <% unless @future_schedules.blank? %>
      <h5>Coming Schedules</h5>
      <% @future_schedules.each do |schedule| %>
        <%= render :partial => 'schedules/detail', locals: {schedule: schedule} %>
      <% end %>
    <% end %>
    <%= link_to 'New Schedule', new_schedule_path %>
  </div>
</div>
