<%= form_for @user, :url => (@user.persisted? ? admin_profile_path(@user.id) : admin_profiles_path), :method => (@user.persisted? ? :put : :post) do |f| %>
  <% @user.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
  <% end %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <%= f.label :accrues_vacation, "Vacation Accrual" %>
  <%= f.text_field :accrues_vacation %>
  <%= f.label :accrues_sick, "Sick Accrual" %>
  <%= f.text_field :accrues_sick %>
  <br/>
  <%= f.submit %>
<% end %>
