<h2>Users</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.name, admin_profile_path(user.id) %></td>
      <td><%= user.email %></td>
      <td><%= link_to 'Edit', edit_admin_profile_path(user.id) %></td>
      <td><%= link_to 'Destroy', admin_profile_path(user.id), method: :delete, data: { confirm: 'Are you sure? This will delete this user and you will not be able to undo it.' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New User', new_admin_profile_path %>
