<h4><%= l Date.today.at_beginning_of_month.change(month: timesheet.month), :format => :month_name %></h4>
<table class="table">
  <thead>
    <tr>
      <th>Day of Month</th>
      <th>Hours Worked</th>
      <th>Holiday Hours</th>
      <th>Vacation Hours</th>
      <th>Sick Hours</th>
      <th>Administrative Hours</th>
      <th>Unpaid Hours</th>
    </tr>
  </thead>
  <tbody>
    <% timesheet.schedule.each do |date, val| %>
      <tr data-date="<%= date %>">
        <td><%= Date.parse(date).strftime('%a') %> <%= Date.parse(date).day %></td>
        <td>
          <% if defined?(user) && user %><button class="btn btn-info btn-mini worked-minus"><i class="icon-minus"></i></button><% end %>
          <span class="worked_hours"><%= val["worked_hours"] if val["worked_hours"] > 0 %></span>
          <% if defined?(user) && user %><button class="btn btn-info btn-mini worked-plus"><i class="icon-plus"></i></button><% end %>
        </td>
        <td><%= val["holiday_hours"] if val["holiday_hours"] > 0 %></td>
        <td><%= val["vacation_hours"] if val["vacation_hours"] > 0 %></td>
        <td><%= val["sick_hours"] if val["sick_hours"] > 0 %></td>
        <td><%= val["admin_hours"] if val["admin_hours"] > 0 %></td>
        <td><%= val["unpaid_hours"] if val["unpaid_hours"] > 0 %></td>
      </tr>
    <% end %>
    <tr>
      <td>Total: <span class="total_hours"><%= timesheet.total_hours %></span></td>
      <td><span class="total_worked_hours"><%= timesheet.worked_hours %></span></td>
      <td><%= timesheet.holiday_hours if timesheet.holiday_hours > 0 %></td>
      <td><%= timesheet.vacation_hours if timesheet.vacation_hours > 0 %></td>
      <td><%= timesheet.sick_hours if timesheet.sick_hours > 0 %></td>
      <td><%= timesheet.admin_hours if timesheet.admin_hours > 0 %></td>
      <td><%= timesheet.unpaid_hours if timesheet.unpaid_hours > 0 %></td>
    </tr>
  </tbody>
</table>
